<!DOCTYPE>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400&display=swap" rel="stylesheet">
    <title>Inbox Playlist</title>
    <style type="text/css">
        body {
            Margin: 0;
            padding: 0;
            background-color: #D9A796;
            font-family:'Big Shoulders Display',cursive;
            font-size: 40px;
        }
        table {
            border-spacing: 0;
        }
        td {
            padding: 0;
        }
        img {
            border: 0;
        }
        .wrapper {
            width: 100%;
            table-layout: fixed;
            background-color: #D9CECC;
            padding-bottom: 40px;
        }
        .webkit {
            max-width: 600px;
            
        }
        .outer {
            Margin: 0 auto;
            width: 100%;
            max-width: 600px;
            border-spacing: 0;
            color: #2a2a2a;
        }

        @media screen and (max-width: 600px) {

        }
        @media screen and (max-width: 400px) {

        }
       
    </style>
</head>
	<body>
		{{{ body }}}
	</body>
</html>
 
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
</head>

<body>
    {{{ body }}}

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="/js/view.js"></script>  
</body>

</html>
